*,
*::before,
*::after {
  box-sizing: border-box;
}

.page {
  min-inline-size: 360px;
  margin: 0;
}

p,
h1,
h2,
h3,
blockquote,
ul,
ol,
li,
figure {
  margin: 0;
}

button,
a:focus {
  outline: none;
  background-color: transparent;
}

button[disabled] {
  pointer-events: none;
}

:root {
  --bg-color: #f3efec;
  --text-color: #312a4e;
  --accent-color: #ffab6b;
  --main-font: Raleway, sans-serif;
  --accent-font: 'STIX Two Text', serif;
}

.theme_dark {
  --bg-color: #171717;
  --text-color: #B3B3B3;
  --accent-color: transparent;
}

.page {
  background-color: var(--bg-color, #f3efec);
  color: var(--text-color, #312a4e);
  font-family: var(--main-font, Raleway);
}

.heading {
  text-align: center;
  font-family: var(--accent-font, 'STIX Two Text');
  font-weight: 600;
  line-height: 0.9;
}

.header__title {
  font-size: clamp(3.75rem, 2.5rem + 5.5556vw, 7.5rem);
  padding-block-start: 10%;
  padding-block-end: 40px;
}

.header__menu {
  display: flex;
  padding-block: 20px;
  justify-content: space-between;
  align-items: center;
  border-block-start: 1px solid var(--text-color);
  border-block-end: 1px solid var(--text-color);
}

.header__theme-toggler {
  display: flex;
  justify-content: end;
  gap: 20px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.header__theme-button {
  position: relative;
  font-family: inherit;
  font-size: 18px;
  color: var(--text-color);
  cursor: pointer;
  border: 0;
  padding: 0;
}

.header__theme-button_is-active {
  font-weight: 700;
}

.header__theme-button_is-active::after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 13px;
  bottom: 0;
  left: -3px;
  right: 0;
  width: 81px;
  height: 0.35em;
  background-color: var(--accent-color);
}

.theme_dark .header__theme-button_is-active::after {
  background-image: url("../images/pattern.svg");
  width: 72px;
}

.header__theme-button:focus {
  outline: none;
}

.header__theme-button:focus-visible {
  outline: 2px solid var(--text-color);
}

.header__theme-button:hover {
  text-decoration: underline;
}

.header__theme-button.header__theme-button_is-active:focus {
  outline: none;
}

.header__theme-button_is-active:focus-visible {
  outline: 1px solid var(--text-color);
}

.header__theme-button_is-active:hover {
  text-decoration: none;
}

.content-section {
  padding-inline: 5vi;
}

.content__title {
  font-size: 30px;
  margin-block: 7% 2.5%;
}

.content__text-block {
  font-size: 18px;
}

.content__text-block .content__paragraph:not(:last-of-type) {
  padding-block-end: 1.5em;
}

.content__text-block_type_first-lettered .content__paragraph:first-of-type::first-letter {
  display: inline-block;
  background-color: var(--accent-color);
  padding-left: 4px;
  padding-right: 4px;
  margin-left: 1px;
  font-size: 30px;
  font-weight: 700;
}

.theme_dark .content__text-block_type_first-lettered .content__paragraph:first-of-type::first-letter {
  border: 1px solid var(--text-color);
}

.content__figure {
  margin-block: 7%;
  width: calc(100% + 5vi + 5vi);
  position: relative;
  right: 5vi;
}

.content__picture {
  width: 100%;
}

.content__picture-caption {
  display: flex;
  width: 100%;
  justify-content: center;
  font-size: 18px;
  padding-block: 20px;
  border-block-end: 1px solid var(--text-color);
}

.content__link {
  color: inherit;
  text-decoration-skip-ink: none;
}

.content__link:focus {
  outline: none;
}

.content__link:focus-visible {
  outline: 2px solid var(--text-color);
}

.content__blockquote {
  width: 75%;
  padding-block-end: 1.5em;
  font-size: 18px;
  font-style: italic;
  font-weight: 400;
  line-height: 2;
  margin-inline: auto;
}

.content__card {
  aspect-ratio: 4/3;
  margin-block-start: 7%;
  border: 1px solid var(--text-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.content__card-title {
  font-size: 60px;
}

.colored-text {
  position: relative;
  display: inline-block;
}

.colored-text::after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 35px;
  bottom: 0;
  left: -3px;
  right: 0;
  width: 220px;
  height: 0.3em;
  background-color: var(--accent-color);
}

.theme_dark .colored-text::after {
  background-image: url("../images/pattern.svg");
}

.content__card-subtitle {
  font-size: 18px;
}

.content__list {
  list-style-type: none;
  padding-inline-start: 40px;
}

.content__list_element {
  position: relative;
}

.content__list_element::before {
  content: "";
  position: absolute;
  left: -25px;
  width: 15px;
  height: 15px;
  background-image: url("../images/marker-light.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.theme_dark .content__list_element::before {
  background-image: url("../images/marker-dark.svg");
}

.content__list .content__list_element:not(:last-of-type) {
  padding-block-end: 10px;
}

.footer {
  font-family: var(--main-font);
  color: var(--text-color);
  text-align: center;
  margin-block-start: 10%;
  padding-block: 2.5%;
  border-block-start: 1px solid var(--text-color);
}

.footer__copyright {
  font-size: 18px;
}